/* Style reset */
* {
  margin: 0;
  padding: 0;
  font-size: 1.75rem;
  font-family: 'Source Code Pro', sans-serif;
}



/* Bar styling */
.topbar {
  background: transparent;
}
.bottombar {
  background: transparent; 
}



/* Sway workspace styling */
#workspaces {
  background: rgba(25, 25, 35, 1);
  margin: 0 0 0.35rem 0;
  padding: 0 1.5rem;
  border-radius: 2rem;
}
#workspaces button {
  padding: 0 0.75rem;
  color: rgba(255, 255, 255, 1);
  margin: 0.25rem 0;
}
#workspaces button.focused {
  color: rgba(25, 25, 25, 1);
  background: rgba(163, 183, 200, 1);
  border-radius: 2rem;
}
#workspaces button.urgent {
  background: #ff0000;
}



/* Sway window styling */
#window {
  font-size: 0.95rem;
  padding: 0.75rem 1.5rem;
  color: #fff;
  font-weight: 700;
  margin: 0.35rem 0 0 0;
  border-radius: 2rem;
  background: rgba(25, 25, 35, 1);
}



/* Clock styling */
#clock,
#cpu,
#memory,
#disk,
#network,
#custom-cpulogo,
#custom-memorylogo,
#custom-disklogo,
#custom-networklogo,
#custom-logo,
#custom-leftcap,
#custom-rightcap {
  font-size: 0.95rem;
  font-weight: 700;
  color: #fff;
  background: rgba(25, 25, 35, 1);
}



/* Built-in modules */
#clock {
  margin: 0 1rem 0.35rem 0;
  padding: 0 1.5rem;
  border-radius: 2rem;
}
#cpu {
  margin-top: 0.35rem;
  padding-right: 1.5rem;
}
#memory {
  margin-top: 0.35rem;
  padding-right: 1.5rem;
}
#disk {
  margin-top: 0.35rem;
}
#network {
  margin-top: 0.35rem;
}


/* Custom modules */
#custom-cpulogo,
#custom-memorylogo,
#custom-disklogo,
#custom-networklogo {
  font-size: 1.65rem;
  margin-top: 0.35rem;
  padding: 0.1rem 0.5rem 0 0;
}
#custom-leftcap {
  margin: 0.35rem 0 0 1rem;
  border-radius: 2rem 0 0 2rem;
}
#custom-rightcap {
  margin: 0.35rem 1rem 0 0;
  border-radius: 0 2rem 2rem 0;
}
#custom-logo {
  font-size: 2rem;
  margin: 0 0 0.35rem 1rem;
  padding: 0 1.5rem;
  border-radius: 2rem;
}

