window {
	border: transparent;
	background: transparent;
}

#input {
	margin: 5px 300px;
	padding: 3px 10px;
	border: 2px solid #3397bf;
	border-radius: 0px;
	background: #2b2b30;
}

#inner-box {
	
}

#outer-box {
	border: transparent;
	background: transparent;
}

#scroll {
	padding: 2rem;
	border: 2px solid #3397bf;
	background: #2b2b30;
	margin: 0 200px;
}

#text {
	margin: 0.3rem;
	color: #c69843;
}

#entry:selected {
	background: transparent;
	border: none;
	outline: none;
}
#text:selected {
	background: #555;
}

